@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

@layer components {
  .custom-h1 {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif; /* Fuente personalizada */
    font-weight: 50; /* Peso de la fuente */
    font-size: 50px; /* Tamaño de fuente */
    color: #9e8484;
    text-align: center; /* Alineación */
  }

  .custom-h2 {
    font-family: "Playfair Display", serif;
    font-size: 1.75rem; /* Ajusta el tamaño para que sea menor que el h1 */
    font-weight: normal;
    text-align: center;
    color: #4a4a4a; /* Color gris */
    position: relative;
    margin-bottom: 2rem;
  }
}

.custom-h2::after {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: -10%; /* Desbordar un poco */
  right: -10%; /* Desbordar un poco */
  height: 1px;
  background-color: #4a4a4a;
}

form {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  width: 900px;
  height: 450px;
  margin: 0 auto;
}

section img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}

section img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

input,
textarea {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.card-media {
  height: 237.033px; /* Se añadió px */
  object-fit: cover;
}
